.container{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bkrnd{
    padding: 5vw;
    width: 70vw;
    height: 60vh;

    background-color: rgb(140, 117, 163);
    border-radius: 5vw;
    border-style: solid;
    border-color: gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.bkrnd h1{
    font-size: 10vh;
}
.bkrnd button{
    width: 10vw;
    height: 6vh;
    background-color: ghostwhite;
    border-radius: 2.5vh;
    border-style: solid;
    border-color: gray;
}
.bkrnd button:hover{
    background-color: rgba(190, 190, 193, 0.922);
}

.buttons{
    display: flex;
    gap: 3vh;
}