.container{
    position: relative;
    padding: 4vw;
    padding-right: 7.5vw;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20vw,1fr));
    grid-auto-rows:40vh;
    gap: 4vw;
}
.card{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 2vh;
    padding-bottom: 4vh;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    background-color: ghostwhite;

    border-radius: 1vh;
    border-style: solid;
    border-color: gray;
}
.image{
    max-width: auto;
    height: 70%;
    padding: 2vh;
    background-color: rgba(88, 54, 120, 0.678);
    object-fit: contain;
    border-radius: 1vh;
    border-style: solid;
    border-color: gray;
}
.parg{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin: auto 0;
    padding: 2vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: gray;

    background-color: rgba(112, 199, 207, 0.863);
}
.card:hover{
    max-height: min-content;
    height: min-content;
    z-index: 1;
    scale: 1.1;
    transition: height 0.25s,scale 0.25s;
}
.card:hover .parg {
    max-height: min-content;
    overflow: visible;
    white-space: normal;
}
.quantity{
    position: absolute;
    bottom: -2vh;
    left: -2vh;

    padding: 1vh;

    display: flex;
    gap: 0.5vh;

    background-color: rgb(140, 117, 163);
    border-radius: 1vh;
    border-style: solid;
    border-color: gray;
}
.inp{
    width: min-content;
    field-sizing: content;
    background-color: ghostwhite;
}

.bubble{
    padding: 0.5vh;
    height: 3vh;

    border-radius: 1vh;
    border-style: solid;
    border-color: gray;
}
.green{
    width: 3vh;
    background-color: rgb(2, 210, 2);
}
.green:hover{
    background-color: rgb(2, 182, 2);
}
.red{
    width: 3vh;
    background-color: rgb(239, 2, 2);
}
.red:hover{
    background-color: rgb(211, 2, 2);
}

.submit{
    position: absolute;
    bottom: -2vh;
    right: -2vh;

    padding: 1vh;

    background-color: rgb(112, 199, 207);
    border-radius: 1vh;
    border-style: solid;
    border-color: gray;
}
.submit:hover{
    background-color: rgba(112, 199, 207, 0.863);
}